.Class-1{
    border: 10px solid rgb(111, 18, 233);
    color: blueviolet;
    background-color: aquamarine;
}

.Class-2{
    border: 10px solid rgb(233, 122, 18);
    margin: 20px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    border-radius: 30px;
    color: rgb(104, 93, 77);
    background-color: rgb(98, 167, 237);
}

#id-1{
    border: 10px solid rgb(233, 18, 18);
    margin: 20px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    border-radius: 30px;
    color: rgb(163, 105, 19);
    background-color: rgb(98, 167, 237);
}