body{
    background-color: rgb(116, 174, 228)
    
}
fieldset{
    border: 2px solid #998f54;
    padding: auto;
    margin: auto;
    width: 50%;
    height: 50%;
    margin-right: 50%;
    background-color: #ceb9ad;
    border-radius: 20px;
    box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, 0.1);
    justify-content: center;
    margin-right: 20%;
    box-sizing: content-box;
}
legend{
    font-size: 1.5em;
    color: #e4dada;
    font-weight: bold;
}
input{
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #998f54;
    background-color: #e4dada;
}

nav{
    background-color: #4e8fd5;
    padding: 10px;
    text-align: center;
   text-decoration: solid;
    font-size: 1.2em;
    color: #fff;
    font-style: normal;
    
    
}

nav :hover{
    background-color: #00f060;
    color: #000;
    transform: translate(0, -5px);
    transition: all 0.3s ease-in-out;
    
}
a{
    color: #fff;
    text-decoration:solid
}

button{
    background-color: #4e8fd5;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}
button:hover{
    background-color: #00f060;
    color: #000;
    transform: translate(0, -5px);
    transition: all 0.3s ease-in-out;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}